.img_container{
    position: relative;
    
  margin-top: 20px;
}
.img_container img{
    border-radius: 10px;
  
}
.img_container_cap{
    position: absolute;
    background-color: rgba(27, 180, 150,0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
     opacity: 0;
    transition: all 1s ease-in-out;
    cursor: pointer;

}
.img_container_cap i{

    font-size: 80px;
    color:#fff;
    font-weight:bolder !important;
   
}
.img_container:hover .img_container_cap{
    opacity:1;
}